#game1 {
    display: flex;
    flex-direction: column;
    border: 2px dashed red;
    background-color: lightgrey;
    width: 500px;
    height: 250px;
    font: 20px arial, sans-serif;
    align-items: center;
}
